<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand">Student Information System</a>
              <ul class="nav navbar-nav">
                    <li ><a [routerLink]="['/']"><i class="fa fa-sign-home"></i>Home</a></li>                   
                 <li > <a *ngIf="user" href="/api/auth/signout"><i class="fa fa-sign-out"></i>Signout</a> </li>
              </ul>
              <ul class="nav navbar-nav ml-auto" *ngIf="user">
                    <li>
                            <a class="nav-link">(Login: {{user.fullName}})</a>
                          </li>
                       
                             <li>
                              <a class="nav-link">(Role: {{user.role}})</a>
                            
                          </li>
                  </ul>
            </div>
          </div>
        </div>
      </nav>


      <p id="contactPara" style="padding-top: 70px;"> </p>
<div class="container" >
        
        
        
<div class="row">
    <div class="col-md-offset-0 col-md-0">
                           
        
    </div>
        
    <div class="col-md-offset-0 col-md-12">
            <h2 style="color:red;"> PAITENT ALERT</h2>     
                        
        <div class='containerDecoration'>
  
                     
            <div   class ="pre-scrollable" style="max-height:76vh">

                <table align="center" class="table table-bordered table-striped table-hover" style="color:red;">
               

                   
                   <thead>
                            <tr align="center">
                                    <td><div> <label>Patient Id</label></div></td>
                                    <td><div> <label>Alert Subject</label></div></td>
                                    <td><div> <label>Alert Msg</label></div></td>
                                    <td><div><label>Patient Name</label></div></td>

                                    
                                    

                                </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let alert of alerts" align="center">
                                    <td>{{alert.patientId}}</td>
                                    <td>{{alert.alertSubject}}</td>
                                    <td>{{alert.alertMsg}}</td>
                                   
                                    <td><a > {{alert.creator.fullName}}</a></td>
        
                                                
                                                
                                            
                            </tr>

                    </tbody>
 

                </table>

            </div>

        </div>
    </div>
</div>
</div>

       



<div *ngIf="articles && articles.length === 0">
    No articles yet, why don't you <a [routerLink]="['/articles/
create']">create one</a>?
</div>
